/* Basic */
* {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* nav sidebar */
nav {
    background: lightgray;
    position: fixed;
    top: 200px;
    bottom: 60px;
    left: 0;
    width: 150px;
    transition: all 0.5s ease;
}
nav ul {
    margin: 0;
    padding: 0px;
}

nav li {
    list-style-type: none;
}

nav ul li a{
    display: block;
    padding: 13px 0px;
    border-bottom: 1px solid black;
    color: black;
    font-size: 16px;
    position: relative;
    border: 1px solid black;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a.active{
    color: #0c7db1;
    background:white;
}

nav ul li a:hover:before,
nav ul li a.active:before{
    display: block;
}

/* Header */
header {
    z-index: 1;
    background: lightcyan;
    position: fixed;
    text-align: center;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 100%;
}
header p {
    font-size: 50px;
    font-weight: bold;
}

/* Main */
main {
    position: relative;
    top: 190px;
    left: 150px;
    height: 90%;
    width: 100%;
    padding-bottom: 60px;
}

/* Colors */
.darkred {
    float: left;
    margin-left: 20px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding-top: 40px;
    background-color: rgb(134, 0, 18);
    color: white;
    font-size: 8px;
    text-align: center;
}

.lightgreen {
    float: left;
    margin-left: 20px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding-top: 40px;
    background-color: lightgreen;
    color: white;
    font-size: 8px;
    text-align: center;
}

.lightblue {
    float: left;
    margin-left: 20px;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    padding-top: 40px;
    background-color: lightblue;
    color: white;
    font-size: 8px;
    text-align: center;
}


/* Footer Section */
footer {
    text-align: center;
    margin-left: -10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
    background: #72c2f1;
    }