* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    border: 1px solid red;
}
h2 {
    font-size: xx-large;
}

/* heading section */
.heading {
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    align-items: center;
}
.heading #logo {
    margin-left: 20px;
    height: 50px;
}
.heading ul li {
    display: inline-flex;
}

/* Mission section */
.mission {
    display: flex;
    height: 700px;
    width: 1200px;
    background-image: url('../images/img-mission-background.jpg');
    background-size: 100%;
    flex-flow: column;
    justify-content: center;
}

/* Tea section */
.tea {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.tea .teaheading {
    width: 1000px;
}
.tea .pictures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tea .pictures img {
    height: 200px;
    width: 300px;
}
.tea .pictures figcaption {
    margin-top: 10px;
}

/* Locations section */
.locations {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-image: url("../images/img-locations-background.jpg");
    height: 500px;
    width: 1200px;
    background-color: transparent;
}
.locations h2 {
    background-color: transparent;
}
.locations .items {
    display: flex;
    background-color: transparent;
}
.locations .item {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: 15px 40px;
    width: 300px;
    height: 300px;
    opacity: 1;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    height: 200px;
}
footer .item {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

/* Copyright */
#copyright {
    position: absolute;
    left: 20px;
}