html {
    font-size: 16px;
}

/* #region Header */

header .content {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: .15rem solid black;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

header ul li{
    display: inline-block;
    margin-left: 2rem;
}

/* #endregion */
/* #region main-content*/
.main-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    
}
    /* #region mission */
    .mission {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        background-color: rgb(223, 229, 236);
    }
    .mission h1 {
        padding: 1rem;
        font-size: 2rem;
    }
    .mission p {
        padding: 1rem;
    }
    .mission-red {
        color: red;
        font-size: 2rem
    }
    /* #endregion */
    /* #region products */
    .products {
        display: flex;
        flex-flow: column;
        background-color: rgb(149, 243, 209);
    }
    .products h1 {
        font-size: xx-large;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    .products-wrapper {
        display: grid;
        grid-template-areas:    "1 2"
                                "3 4";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        margin-top: 2rem;
        gap: 1rem;
        width: 100%;
    }
    .products .product-container1{
        grid-area: "1";
    }
    .product-container1 img {
        max-width: 100%;
        
    }
    .product-container2 {
        grid-area: "2";
    }
    .product-container2 img {
        max-width: 100%;
    }
    .product-container3 {
        grid-area: "3";
    }
    .product-container3 img {
        max-width: 100%;
    }
    .product-container4 {
        grid-area: "4";
    }
    .product-container4 img {
        max-width: 100%;
    }

    /* #endregion */
    /* #region team */
    .team {
        display: flex;
        background-color: rgb(191, 245, 183);
    }
    .team img {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    figure figcaption {
        font-size: 2rem;
        text-align: center;
    }
    /* #endregion */
/* #endregion */
/* #region footer */
    footer .copyright{
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: aquamarine;
    }
/* #endregion */